@font-face {
    font-family: "Aileron-UltraLight";
    src:url("./fonts/Aileron-UltraLight.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-UltraLightItalic";
    src:url("./fonts/Aileron-UltraLightItalic.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-Thin";
    src:url("./fonts/Aileron-Thin.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-ThinItalic";
    src:url("./fonts/Aileron-ThinItalic.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-Black";
    src:url("./fonts/Aileron-Black.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-Heavy";
    src:url("./fonts/Aileron-Heavy.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-SemiBold";
    src:url("./fonts/Aileron-SemiBold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron-Bold";
    src:url("./fonts/Aileron-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

